.banner-principal__row
  height: 520px !important
  
.banner-principal__img
  background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")
  align-self: stretch
  background-repeat: no-repeat, no-repeat, no-repeat
  background-position: 10% 85%, 80% 10%, 0% 0%
  background-size: 5%, 10%, 90%
  animation: Flitp 6s ease infinite
  img
    display: none !important

@keyframes Flitp
  0%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")
  25%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")
  50%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")
    background-position: 15% 85%, 80% 16%, 0% 0%
  75%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")
  100%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float1.svg"), url("../assets/curso/portada/banner-princiapal.png")

.banner-principal__info
  background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float3.svg")
  align-self: stretch
  background-repeat: no-repeat
  background-position: 6% 25%, 2% 96%
  background-size: 5%, 6%
  animation: Flitp1 6s ease infinite

@keyframes Flitp1
  0%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float3.svg")
  25%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float3.svg")
  50%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float3.svg")
    background-position: 10% 25%, 10% 96%
  75%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float3.svg")
  100%
    background-image: url("../assets/curso/portada/float2.svg"), url("../assets/curso/portada/float3.svg")
  
.banner-principal__row .banner-principal__img
  position: relative
  left: 110px
  top: 0px

.banner-principal__info
  padding-left: 6rem !important

.cajon.color-primario
  background-color: #FFF5DB

.cajon.color-primario::before
  background-color: #FECD4D

.bloque-texto-g.color-secundario
  background-color: #FECD4D

.bloque-texto-g__texto
  width: 80%

.bloque-texto-c.color-secundario
  background-color: #ECD6D1

.bloque-texto-f.color-secundario::before
  background-color: #FFF5DB

.bloque-texto-f__autor
  text-align: left

.modal-a__content
  background-color: #ECD6D1

.modal-a__close-btn
  background-color: #2C53A0
  border-radius: 0px
  i
    color: #FFFFFF

.tarjeta--piel
  background-image: url(../assets/curso/tema1/img8.svg)
  background-color: white
  background-repeat: no-repeat
  background-size: cover

.tarjeta--piel1
  background-color: #ecd6d1
  background-image: linear-gradient(0deg, #ecd6d1 0%, #fef3f1 100%)

.tarjeta.color-acento-botones
  background-color: #ECD6D1
  h5
    color: #12263F
  p
    color: #12263F

.cajon.color-secundario
  background-color: #E8E8E8

.cajon.color-secundario::before
  background-color: #AFAFAF

.slyder-a__tipo-b .slyder-a__btn--sigt
  background-color: #2C53A0

.slyder-a__tipo-b .slyder-a__btn--atrs
  background-color: #2C53A0

.linea-tiempo-d__item__number
  background-color: #2C53A0
  span
    color: white

.linea-tiempo-d__item__content
  background-color: #E9EDF5

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #FFF5DB
  span
    color: black

.linea-tiempo-d__item.row.linea-tiempo-d__item--selected .col .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #FFF5DB

.crd_hover_txt1
  position: relative  
  padding: 0 !important
  overflow: hidden
  height: 215px
  &:hover    
    .crd_hover_txt--font     
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
  .crd_hover_txt--font
    position: absolute
    width: 100%
    padding: 0rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.2rem ))
    h4
      font-size: 17
      text-align: center

.acordion__accion__btn--a
  background-color: #2C53A0

.acordion__accion__btn--a i, .acordion__accion__btn--b 
  color: white

.acordion__activo
  background-image: url(../assets/curso/tema1/img8.svg)
  background-repeat: no-repeat
  background-size: cover

.pasos-a.color-primario .pasos-a__circle
  background-color: #9F321D

.pasos-a.color-primario .pasos-a__circle div
  color: white

.pasos-a.color-primario .pasos-a__numero::after
  border-left-color: #9F321D

.pasos-a.color-primario .pasos-a__linea__esquina__linea
  border-color: #9F321D

.pasos-a__linea__esquina__linea
  border-radius: 0px

.pasos-a.color-primario .pasos-a__linea .hor-line
  border-top-color: #9F321D

.cajon.color-acento-botones
  background-color: #F3E6E3

.cajon.color-acento-botones::before
  background-color: #9F321D

.tarjeta--tabla
  background-color: #E8E8E8

.tarjeta--tabla:nth-child(2n)
  background-color: #FFF5DB

.tarjeta--tabla:nth-child(3n)
  background-color: #F3E6E3

.tarjeta-avatar .tarjeta
  width: 100% !important
  background-color: #FFF5DB

.tarjeta.color-amarillo
  background-color: #FFF5DB

.bg-color1
  background-image: url(../assets/curso/intro/img1.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: contain

.bg-color2
  background-image: url(../assets/curso/tema1/img1.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: contain

.bg-color3
  .bg-img
    z-index: 2
    transition: .5s ease
    opacity: 0.3
  .bg-txt
    transition: .5s ease
    background-color: #2C53A0

.bg-color3:hover
  .bg-img
    opacity: 1
  .bg-txt
    background-color: #9F321D

.bg-color4
  background-image: url(../assets/curso/tema1/img3.svg)
  background-repeat: no-repeat
  background-size: cover

.bg-color5
  background-color: #ecd7d2
  background-image: linear-gradient(90deg, #ecd7d2 0%, #ffffff 100%)

.bg-color6
  background-image: url(../assets/curso/tema1/img7.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover

.bg-color7
  position: relative
  width: 100%
  .bg-img
    transition: .5s ease
  .bg-txt
    transition: .5s ease
    background-color: #2C53A0

.bg-color7:hover
  .bg-txt
    background-color: #9F321D
  .overlay
    transform: scale(1)

.bg-color8
  background-image: url(../assets/curso/tema2/img5.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: contain
  background-position: center

.bg-color9
  background-color: #FFF5DB

.bg-color10
  background-image: url(../assets/curso/tema3/img3.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: contain
  background-position: center

.bg-color11
  background-color: #2C53A0
  height: 50px

.bg-color12
  background-color: #fff5dbd1
  height: 170px

.bg-color13
  background-image: url(../assets/curso/tema6/img2.svg)
  background-repeat: no-repeat
  background-size: contain
  background-position: center

.bg-color14
  background-image: url(../assets/curso/tema7/img2.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: contain

.txt-deco1
  font-weight: bold
  color: #9F321D

.txt-deco2
  color: #000
  font-size: 16px
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  text-align: left
  width: 230px

.text-deco3
  text-align: left

.hr
  border-width: 2px
  border-style: dashed
  color: #9F321D

.overlay
  position: absolute
  bottom: 0
  left: 0
  right: 0
  border-top-left-radius: 15px
  border-top-right-radius: 15px
  background-color: #34a4c98a
  overflow: hidden
  width: 100%
  height: 81%
  top: 0px
  transform: scale(0)
  transition: .3s ease

@media screen and ( max-width: 1400px )
  
  .banner-principal__row .banner-principal__img
    left: 48px

@media screen and ( max-width: 1200px )

  .bloque-texto-g__texto
    width: 100%

  .banner-principal__row .banner-principal__img
    left: 40px

@media screen and ( max-width: 768px )

  .banner-principal__info
    padding-left: 1rem !important

  .overlay
    top: -3px

  .bg-color13
    background-size: cover